@import '../utils/variables.scss';

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
  height: 100%;
  margin: 0 auto;

  &__name {
    font-size: 3rem;
    display: inline-block;
    opacity: 1;
    padding: 0.35em 1em;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1rem;

    &:before {
      top: 0;
      left: 0;
    }

    &:after {
      bottom: 0;
      right: 0;
    }

    &:before,
    &:after {
      background: #fff;
      content: '';
      height: 2px;
      position: absolute;
      width: 100%;
      animation: animate 1s linear;
    }
  }

  &__summary {
    margin: 20px 0 40px 0;
  }

  & button {
    width: 200px;
    line-height: 2.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    border: 0;
    border-radius: $button-round;
    color: white;
    background-color: #ff5349;
  }
}

h1 {
  margin: 0.5em auto;
}
