.info {
  font-size: 3rem;
  display: inline-block;
  opacity: 1;
  padding: 0.35em 1em;
  position: relative;
  z-index: 1;

  &:before {
    top: 0;
    left: 0;
  }

  &:after {
    bottom: 0;
    right: 0;
  }

  &:before,
  &:after {
    background: #fff;
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    width: 100%;
  }
}
